In [1]:
import pandas as pd
import re

In [2]:
data = pd.read_csv('events-US-1980-2024.csv', skiprows=1)

In [3]:
data

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths
0,Southern Severe Storms and Flooding (April 1980),Flooding,19800410,19800417,2707.0,7
1,Hurricane Allen (August 1980),Tropical Cyclone,19800807,19800811,2200.8,13
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,19800601,19801130,39979.8,1260
3,Florida Freeze (January 1981),Freeze,19810112,19810114,2042.0,0
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,19810505,19810510,1389.0,20
...,...,...,...,...,...,...
373,Southern Hail Storms (September 2023),Severe Storm,20230923,20230924,1677.9,0
374,Southern/Midwestern Drought and Heatwave (Spri...,Drought,20230401,20230930,14645.2,247
375,East Coast Storm and Flooding (December 2023),Flooding,20231216,20231218,1289.0,5
376,Southern Tornado Outbreak and East Coast Storm...,Severe Storm,20240108,20240110,1764.7,3
377,Central and Southern Severe Weather (March 2024),Severe Storm,20240313,20240315,4092.0,3

In [4]:
def extract_month_year(name):
    season_to_month = {
        'Winter': 'January', 'Spring': 'April', 'Summer': 'July', 'Fall': 'October',
        'Winter-Spring': 'March', 'Spring-Summer': 'June', 'Summer-Fall': 'August', 
        'Fall-Winter': 'November', 'Spring-Fall':'July', 'January-March' : 'February',
        'Mid-January' : 'January', 'April-May' : 'April', 'May-June' : ' May', 
        'June-July' : 'June'
        
    }
    # Regular expression to find month and year or season and year
    pattern = r"\((\w+(?:-\w+)?)\s(\d{4})\)"
    match = re.search(pattern, name)
    if match:
        season_year, year = match.group(1), match.group(2)
        # Check if the entry is a season or specific month
        if season_year in season_to_month:
            return season_to_month[season_year], year
        else:
            return season_year, year
    return None, None

In [5]:
data['Month'], data['Year'] = zip(*data['Name'].apply(extract_month_year))

In [6]:
data['Begin Date'] = pd.to_datetime(data['Begin Date'], format='%Y%m%d')
data['End Date'] = pd.to_datetime(data['End Date'], format='%Y%m%d')

In [7]:
data['Date'] = data['Begin Date'] + (data['End Date'] - data['Begin Date']) / 2

In [8]:
data['Date'] = data['Date'].dt.strftime('%Y-%m-%d')

In [10]:
data['Total CPI-Adjusted Cost (Billions of Dollars)'] = data['Total CPI-Adjusted Cost (Millions of Dollars)'] / 1000

In [13]:
data

,Name,Disaster,Begin Date,End Date,Total CPI-Adjusted Cost (Millions of Dollars),Deaths,Month,Year,Date,Total CPI-Adjusted Cost (Billions of Dollars)
0,Southern Severe Storms and Flooding (April 1980),Flooding,1980-04-10,1980-04-17,2707.0,7,April,1980,1980-04-13,2.7070
1,Hurricane Allen (August 1980),Tropical Cyclone,1980-08-07,1980-08-11,2200.8,13,August,1980,1980-08-09,2.2008
2,Central/Eastern Drought/Heat Wave (Summer-Fall...,Drought,1980-06-01,1980-11-30,39979.8,1260,August,1980,1980-08-31,39.9798
3,Florida Freeze (January 1981),Freeze,1981-01-12,1981-01-14,2042.0,0,January,1981,1981-01-13,2.0420
4,"Severe Storms, Flash Floods, Hail, Tornadoes (...",Severe Storm,1981-05-05,1981-05-10,1389.0,20,May,1981,1981-05-07,1.3890
...,...,...,...,...,...,...,...,...,...,...
373,Southern Hail Storms (September 2023),Severe Storm,2023-09-23,2023-09-24,1677.9,0,September,2023,2023-09-23,1.6779
374,Southern/Midwestern Drought and Heatwave (Spri...,Drought,2023-04-01,2023-09-30,14645.2,247,July,2023,2023-07-01,14.6452
375,East Coast Storm and Flooding (December 2023),Flooding,2023-12-16,2023-12-18,1289.0,5,December,2023,2023-12-17,1.2890
376,Southern Tornado Outbreak and East Coast Storm...,Severe Storm,2024-01-08,2024-01-10,1764.7,3,January,2024,2024-01-09,1.7647
377,Central and Southern Severe Weather (March 2024),Severe Storm,2024-03-13,2024-03-15,4092.0,3,March,2024,2024-03-14,4.0920

In [11]:
data.to_csv('events-us.csv', index=False)